body {
  margin: 50px;
}
h1, h2 {
  text-align: center;
  font-family: cursive;
} 


.bear {
  width: 100%;
  padding: 50px;
  border: solid black;
  border-width: 2px;
  background-color: #E9ECEF;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.bear img {
display: block;
width: 110%;
margin-left: auto;
margin-right: auto;
}

.wolf {
  width: 100%;
  padding: 50px;
  border: solid black;
  border-width: 2px;
  background-color: #E9ECEF;
  margin-bottom: 10px;
  box-sizing: border-box;

}
.wolf img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  }


.raven {
  width: 100%;
  padding: 20px;
  border: solid black;
  border-width: 2px;
  background-color:#E9ECEF;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.raven img {
  display: block;
  width: 80%; 
  margin-left: auto;
  margin-right: auto;
  }

.row {
display: flex;
}

.column {
flex: 20%;
padding: 10px;
  }

