body {
  margin: 50px;
}
h1 {
text-align: center;
}

.bear {
  width: 100%;
  padding: 50px;
  border: solid black;
  border-width: 5px;
  background-color: #E9ECEF;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.bear img {
width: 110% 
}

.wolf {
  width: 100%;
  padding: 50px;
  border: solid black;
  border-width: 5px;
  background-color: #E9ECEF;
  margin-bottom: 10px;
  box-sizing: border-box;

}
.wolf img {
  width: 90% 
  }


.raven {
  width: 100%;
  padding: 20px;
  border: solid black;
  border-width: 5px;
  background-color:#E9ECEF;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.raven img {
  width: 80% 
  }

.row {
display: flex;
}

.column {
flex: 20%;
padding: 10px;
  }

